.logo-daserste { background-image:url(img/stations/daserste.png); }
.logo-ard { background-image:url(img/stations/daserste.png); }
.logo-zdf { background-image:url(img/stations/zdf.png); }
.logo-prosieben { background-image:url(img/stations/prosieben.png); }
.logo-n24 { background-image:url(img/stations/n24.png); }
.logo-sat1 { background-image:url(img/stations/sat1.png); }
.logo-rtl { background-image:url(img/stations/rtl.png); }
.logo-bayern3 { background-image:url(img/stations/bayern3.png); }