* { color:#222; font-size:13px; line-height:15px; font-family:sans-serif; margin:0px; padding:0px; border-collapse:collapse; }

.intro { margin:0px auto; width:900px; }
.intro h1 { font-family:'Noticia Text',sans-serif; margin-top:15px; font-size:30px; color:#999; }
.intro h1,
	.intro p { margin-bottom:10px; line-height:130%; }

p { margin:0px auto; width:900px; margin-bottom:10px; }
p.error-message { width:860px; clear:both; padding:20px; background-color:#aa0000; color:white; font-weight:bold; text-align:center; }

a { color:#00d; text-decoration:none; }
a:hover { text-decoration:underline; }

span.invisible{ display:none; }
td { vertical-align:top; }

.lists-container { clear:both; background:silver; width:900px; margin:0 auto; }

.empty-list { margin:0 auto; opacity:0.2; display:block; width:20px; height:20px; background:url(img/emptylist.png) no-repeat; overflow:hidden; }

.dragging,
	.channel-list tr.channel:hover { background-color:#EEE; border-radius:10px; }
div.service-type,
	div.medium-type { opacity:0.2; display:block; width:20px; height:20px; overflow:hidden; background-repeat:no-repeat; }
div.service-type { background-image:url(img/servicesprite.png); }
div.service-type.service-type-1 { background-position:-20px 0px; }
div.service-type.service-type-2 { background-position:-60px 0px; }
div.service-type.service-type-25 { background-position:-40px 0px; }
div.service-type.service-type-211 { background-position:-80px 0px; }
div.medium-type { background-image:url(img/mediumsprite.png); }
div.medium-type.medium-type-cable { background-position:-20px 0px; }
div.medium-type.medium-type-sat { background-position:-60px 0px; }
div.medium-type.medium-type-air { background-position:-40px 0px; }
a.delete { display:inline-block; width:20px; height:20px; overflow:hidden; background:url(img/deletesprite.png) no-repeat; background-position:0px 0px; }
a.delete:hover { background-position:-20px 0px; }

.channel-list { float:left; width:300px;table-layout:fixed; }
.channel-list tr { width:300px; }
.channel-list .index { text-align:right; }
.channel-list th { color:#555; padding-bottom:10px; }
.channel-list td { padding:2px 5px; }
.channel-list td.service-type,
	.channel-list td.index,
	.channel-list td.logo,
	.channel-list td.options { width:20px; }
.channel-list td.name,
	.channel-list td.index { padding-top:8px; }
.channel-list td.options { padding-top:6px; }

.download { background:#eee; width:900px; margin:0 auto; clear:both; text-align:center; display:block; padding-top:15px; margin-bottom:15px; padding-bottom:10px; }
.download .icon,
	.upload .icon { margin:0px auto 5px auto; display:block; width:32px; height:40px; background:url(img/loadsprite.png) no-repeat -64px 0px; }
.download a#download { display:none; color:white; font-weight:bold; text-transform:uppercase; }
.download a#download:hover { text-decoration:none; }
.download.warning { background:#aa0000; }
.download.warning .icon { background-image:url(img/loadsprite.png); background-position:-96px 0px; }

.logo { display:block; width:20px; height:20px; background-repeat:no-repeat; background-size:16px 16px; background-position:6px 8px;}

.footer { clear:both; background:gray; padding:30px; color:silver; }
.footer a { color:#9999ff; }

#github { display:inline-block; width:45px; height:12px; background:url(img/github.png) no-repeat; }
#flattr { position:absolute; right:0px; padding-right:30px; }

.upload { text-align:center; margin:0px auto 10px auto; clear:both; background:#eee; padding:20px; width:860px; }
.upload .icon { background-position:0px; }
#dnd-upload { }
#dnd-upload .upload-info,
	.dz-preview { }

.dz-details,
	.dz-success-mark,
	.dz-error-mark { display:none; }