* { color:#222; font-size:13px; line-height:15px; font-family:sans-serif; margin:0px; padding:0px; border-collapse:collapse; }

h1 { font-size:30px; color:#999; padding:30px; font-family:georgia, serif; }
p.intro { float:left; padding-left:30px; margin-bottom:10px; width:200px; }

a { color:#00d; text-decoration:none; }
a:hover { text-decoration:underline; }

span.invisible{ display:none; }
td { vertical-align:top; }

.lists-container { clear:both; background:silver; width:600px; margin:0 auto; }

.dragging { background-color:#EEE; border-radius:10px; }
div.service-type { opacity:0.2; display:block; width:20px; height:20px; overflow:hidden; background:url(img/typesprite.png) no-repeat; }
div.service-type.service-type-1 { background-position:-20px 0px; }
div.service-type.service-type-2 { background-position:-60px 0px; }
div.service-type.service-type-25 { background-position:-40px 0px; }
a.delete { display:inline-block; width:20px; height:20px; overflow:hidden; background:url(img/deletesprite.png) no-repeat; background-position:0px 0px; }
a.delete:hover { background-position:-20px 0px; }

.channel-list { float:left; width:200px; }
.channel-list .index { text-align:right; }
.channel-list td { padding:2px 5px; }
.channel-list td.service-type,
	.channel-list td.index,
	.channel-list td.options { width:20px; }
.channel-list td.name,
	.channel-list td.index { padding-top:8px; }
.channel-list td.options { padding-top:6px; }

.download { background:#eee; width:600px; margin:0 auto; clear:both; text-align:center; display:block; padding-top:60px; margin-bottom:15px; padding-bottom:10px; }
.download a { padding-top:50px; background:url(img/download.png) no-repeat center 0px; }

.logo { display:block; width:20px; height:20px; background-repeat:no-repeat; background-size:16px 16px; background-position:6px 8px;}

.footer { clear:both; margin-top:20px; background:gray; padding:30px; color:silver; }

#dnd-upload { clear:both; background:#eee; display:table; width:200px; height:200px; border-radius:50%; }
#dnd-upload .upload-info,
	.dz-preview { display:table-cell; text-align:center; vertical-align:middle; }

.dz-details,
	.dz-success-mark,
	.dz-error-mark { display:none; }